.density {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  letter-spacing: var(--ls-4);
  line-height: var(--lh-4);
  color: var(--neutral-set-4);
  height: 21px;
  gap: 16px;
}

.density-list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-label {
  font-size: var(--fs-3);
  font-weight: var(--fw-3);
  letter-spacing: var(--ls-3);
  line-height: var(--lh-3);
  color: var(--neutral-set-4);
  cursor: pointer;
}

.letter {
  flex-basis: 16px;
}

.progress {
  flex-basis: 87%;
  height: 12px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--neutral-set-5);
}

.progress::-webkit-progress-bar {
  background-color: var(--neutral-set-5);
}

.progress::-webkit-progress-value {
  background-color: var(--purple-400);
}

.progress::-moz-progress-bar {
  background-color: var(--purple-400);
}

.ratio {
  flex-basis: 110px;
  text-align: right;
}

.letter,
.ratio,
.progress {
  flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .ratio {
    flex-basis: 95px;
  }
}
