.main {
  width: 91.5%;
  margin: 0 auto 70px auto;
}

.app-title {
  text-align: center;
  font-size: var(--fs-1-m);
  font-weight: var(--fw-1);
  letter-spacing: var(--ls-1);
  line-height: var(--lh-1);
  max-width: 540px;
  margin: 40px auto;
  color: var(--neutral-set-1);
}

.sub-input {
  display: flex;
  flex-direction: column;
  margin: 16px 0 40px 0;
  gap: 12px;
}

.limit-alert {
  color: var(--highlight-set-1);
  margin-top: 10px;
}

.density-title {
  font-size: var(--fs-2);
  font-weight: var(--fw-2);
  letter-spacing: var(--ls-2);
  line-height: var(--lh-2);
  color: var(--neutral-set-4);
  margin-top: 24px;
}

.density-no-content {
  color: var(--neutral-set-4);
  margin-top: 20px;
}

.sub-input,
.density-no-content {
  font-size: var(--fs-4);
  font-weight: var(--fw-4);
  letter-spacing: var(--ls-4);
  line-height: var(--lh-4);
}

@media only screen and (min-width: 768px) {
  .main {
    max-width: 990px;
  }

  .app-title {
    font-size: var(--fs-1);
  }

  .sub-input {
    flex-direction: row;
    justify-content: space-between;
  }
}
